@using MudBlazor

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <div class="pa-6">
            <MudText>@ContentText</MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="pa-6 pt-2 d-flex gap-2">
            <MudButton OnClick="Cancel"
                      Variant="Variant.Text"
                      Class="rounded-full px-6">Cancel</MudButton>
            <MudButton Color="@Color"
                      OnClick="Submit"
                      Variant="Variant.Filled"
                      Class="rounded-full px-6">@ButtonText</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public string ContentText { get; set; } = "";
    [Parameter] public string ButtonText { get; set; } = "Ok";
    [Parameter] public Color Color { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}
